$font-family: 'Poppins',sans-serif;

// ### Primary 
$Cyan: hsl(180, 66%, 49%);
$Dark-Violet: hsl(257, 27%, 26%);
//  ### Secondary 
 $Red: hsl(0, 87%, 67%) ;
//  ### Neutral 
$Gray: hsl(0, 0%, 75%);
$Grayish-Violet: hsl(257, 7%, 63%); 
$Grayish-Violet-bg: hsla(258, 7%, 63%, 0.293);
$Very-Dark-Blue: hsl(255, 11%, 22%); 
$Very-Dark-Violet: hsl(260, 8%, 14%);

@mixin center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin bottom-content{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
@mixin top-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
@mixin left-content {
    display: flex;
    align-items: center;
    justify-content: left;
}
@mixin right-content {
    display: flex;
    align-items: center;
    justify-content: right;
}
@mixin container {
    max-width:95%;
    @media (width > 700) {
        max-width: 70%;
    }
}
@mixin button {
        color: white;
        padding: .8rem 2rem;
        border-radius: 10rem;
        border: none;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $Cyan;
    
        &:hover {
            transition: 1s;
            background-color: hsla(180, 66%, 49%, 0.582);
        }
}
// .container{
//     // @include container();
//     width:75%;
// }
// @media (width > 700px) {
//     .container {
//         width: 75%;
//     }
// }