@import './global';

.btn{
    @include button();
}
  p {
      color: $Grayish-Violet;
  }
.main{
    display:block;
    padding:5rem 0 0;
}
.hero_section{
    @include center-content();
    padding: 1rem;
    margin-bottom: 5rem;
}
.center{
    @include center-content();
    display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
}
.hero_text{
    grid-area: 2 / 1 / 2 / 1;
    max-width: 320px;
    h1 {
            text-transform: capitalize;
        }
    
}
.hero_img > img{
    height:20vh;
}

.input_section{
    @include center-content();
    // min-height:30vh;
    // background-color: black;
}

.input_container{
    padding:1rem;
    width:80%;
    max-width: 1200px;
    position: absolute;
    border-radius: 1rem;
    background-color: $Dark-Violet;
    background-repeat: no-repeat;
    background-image: url('/images/bg-shorten-desktop.svg');
}

.input_btn{
    font-weight: 700;
    border-radius: 5px;
    width:100%;
}
input{
    width:100%;
    margin:1rem;
    height:5vh;
    padding:0 .5rem;
    margin:.5rem 0 1.5rem ;
    border-radius: 5px;
    border:none;
    outline: none;
    box-sizing: border-box;
}
input:focus{
    color:green;
    outline: .2rem solid green;
}
input[type=url]:focus:invalid{
    color: red;
    outline: .2rem solid red;
}
.link_res{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:4vh;
    width:73%;
    z-index: 1000;
    margin:1rem;
    padding:1rem 1.9rem;
    border-radius: 5px;
    background-color: pink;
}
.link_end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 33%;
    border:1px solid black;
    p{
        color:$Cyan;
    }
}
.copy_btn{
    color:#fff;
    font-weight: 700;
    border:none;
    padding:.5rem 2rem;
    border-radius: 5px;
    background-color: $Cyan;
    &:hover{
        transition: 1s;
            background-color: hsla(180, 66%, 49%, 0.582);
    }
}
.cards_section{
    padding-top: 5rem;
    text-align: center;
    background-color: $Grayish-Violet-bg;
}
.card_intro_section{
    padding:2rem 1rem 4rem;
}
.card {
    margin:1rem auto;
    padding: 4rem 2rem 1rem;
    border-radius: 5px;
    background-color: #fff;
    z-index: 100px;
    max-width: 400px;
}
.left_grid::after, .center_grid::after {
    content:'';
    background-color: $Cyan;
    padding: 1rem .3em;
}

.card_img{
    background-color: $Dark-Violet;
    height:50px;
    padding:1.5rem;
    border-radius: 8rem;
    position: absolute;
    left:0;
    right:0;
    margin: -100px auto;
    z-index: 1;

}
.banner{
    @include center-content();
    min-height: 15vh;
    height: 30vh;
    max-height: 200px;
    color:white;
    text-align: center;
    background-color: $Dark-Violet;
    background-size:cover;
    background-position: center;
    // background-repeat:repeat-y;
    background-image: url('/images/bg-shorten-desktop.svg');
}
.footer_section{
    @include center-content();
    padding:4rem 1rem;
    color:white;
    text-align: center;
    background-color: $Very-Dark-Blue;
    .footer_container{
        .footer_nav{
            padding:1rem;
            display: block;
        }
        .footer_nav_list{
            display: block;
            font-size: .7rem;
         
            li{
                width:fit-content;
                    &:hover{
                        color: $Cyan;
                        cursor: pointer;
                }
            }
                 li:nth-child(1){
                    color: white;
                    font-weight: bold;
                    font-size: 1.5em;
                    padding:1rem 0 .5rem;
            }
        }
        ol {
            list-style-type: none;
            text-transform: capitalize;
            display: flex;
            padding:0;
            li{
                margin:.5rem 1rem;
            }
        }
      
    }
}
@media (width > 1100px) {
    .main{
        @include center-content();
        display: block;
    }

    .hero_section{
        height: 80vh;
        margin-bottom: 4rem;
        .center{
            grid-template-columns: repeat(2, 1fr);
        }
        .hero_text{
            max-width: 440px;
            margin:auto;
            text-align: left;
            grid-area: 1 /1 /1 /1 ;
            h1 {
                font-size: 3.5em;
                line-height: 1em;
                margin-bottom: 0;
             }
    
        }
        .hero_img{
            @include right-content();
        }
       .hero_img > img{
        grid-area: 1/ 2 /1 /2 ;
        height:60vh;
       }
    }
.input_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2.5rem 1rem;
    border-radius: 5px;
    width:75%;
}
.input_btn{
    width:20%;
    height:8vh;
}
input {
    width:750px;
    height:8vh;
    padding:1.3rem;
    margin:0 1rem 0 0;
    font-size:1.4rem;
}
  .cards_section {
        @include center-content();
        text-align: left;
        height:120vh;
        max-height: 1200px;
        padding-top: 0;
     }
.card_intro_section {
    max-width: 500px;
    margin: 3rem auto;
    text-align: center;
    h2{
        font-size: 2rem;
    }
}
    .cards{
        display: grid;
        grid-template-columns: repeat(3, 22rem);
        grid-template-rows: repeat(2, 11rem);
        // border: 2px solid black;
    }
    .card{
        max-width: 300px;
        margin:0 0 0 0;
        padding-top:1rem;
    }
    .left_grid{
        // border:3px solid pink;
        @include top-content();
        grid-area: 1 / 1 / 3 / 1;
    }
    .center_grid{
        // border: 3px solid pink;
        @include center-content();
        grid-area: 1 / 2 / 3 / 2;
    }
    .right_grid{
        @include bottom-content();
        grid-area: 1 / 3 / 3 / 3;
    }
        .left_grid::after,
        .center_grid::after {
            content: '';
            background-color: $Cyan;
            padding:  .5rem 1rem;
            position: relative;
        }
    .left_grid::after{
        top:130px;
    }
    .center_grid::after{
        top:-30px;
    }
        .card_img {
            position: relative;
            top:-6rem;
            bottom:0;
            z-index: 1;
            // border:4px solid burlywood;
        }
     .banner_text{
            h4{
                font-size: 2rem;
                margin-bottom:.5rem;
            }
        }
    .footer_container{
        max-width: 75%;
        display: grid;
        grid-template-columns: 3fr 4fr 2fr;
        .footer_logo{
            text-align: left;
        }        
    }     
          #footer_nav {
              padding:0 3rem 0 0;
              display: flex;
              flex-grow: 1;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            li:nth-child(1) {
                    font-weight: bold;
                    padding: 0 0 0;
                }
          }
    
          .footer_nav_list {
              text-align: left;
          }
}